@import "./node_modules/modern-normalize/modern-normalize.css"; 

:root{
    --background-grey-color: rgb(37, 37, 37);
    --foreground-grey-color: rgb(238, 238, 238);
    --white-color: white;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

body{
    max-width: 1440px;
    min-width: 600px;
    min-height: 100vh;
    background-color: var(--background-grey-color);
}

@font-face {
    font-family: norse-bold;
    src: url(font/Norse-Bold.otf);
}

.form{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.image-container{
    min-width: 33rem;
    max-width: 34rem;
    min-height: 100vh;
    background-image: url(./image/plant-image.jpg);
    object-fit: cover;
    background-color: var(--white-color);
    background-size: 680px 995px;
    background-position: -100px 0px;
    position: relative;
}

.odin-container{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: center;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 200px;
}

.image-container span{
    font-family: norse-bold;
    font-size: 100px;
    color: white;
}

.form-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.form-container div{
    flex: 1 1 auto;
}

.form-title h2, .form-data div, h2, .form-submit button, p{
    margin-top: 18px;
    margin-left: 50px;
}

.form-title, .form-submit{
    display: flex;
    flex-direction: column;
    background-color: var(--foreground-grey-color);
}

.form-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-color);
}

.form-data > div{
    display: flex;
    width: 650px;
}

.form-data input{
    width: 250px;
    height: 30px;
    position: absolute;
    top: 19px;
}

.first-name-container, .last-name-container, .email-container, .tel-container, .password-container, .confirm-container{
    margin: 0 !important;
    position: relative;
}

label{
    font-size: 15px;
    font-weight: bold;
    position: absolute;
}